.hidden { display: none; visibility: hidden; }
.shown { visibility: visible; }

a.ou-btn {
	font-size: 1.4em;
}
/*#feature-img { background: #DDD url('images/janux_feature.png') no-repeat center center; }*/

.mast { position: relative; }

#video {
	overflow: hidden;
	height: 575px;
}

#video > :first-child  {
	box-shadow: 0 0 3px 1px black;
}


#main *,
#main {
	font: normal normal 14px/28px 'Open Sans', Arial, Helvetica, sans-serif;	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#main {
	color: #494949;
	/*background-color: #252525;
	background-image: url(images/bg_black.gif);
	background-repeat: repeat;*/
}

#main .content {
	padding: 70px 35px 5px;
}

#main .content.tech {
	padding-bottom: 20px;
}

#main .content.tech ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#main .content.tech ul li {
	font: normal 300 1.2em 'Open Sans', Arial, Helvetica, sans-serif;
	display: inline-table;
	display: inline-block;
}

#main .content.tech ul li a,
#main .content.tech ul li a:link,
#main .content.tech ul li a:visited,
#main .content.tech ul li a:active,
#main .content.tech ul li a:hover {
	font: normal 300 1em 'Open Sans', Arial, Helvetica, sans-serif;
	color: #3fb3f6;
}


#main h1,
#main h1 span,
#main h4,
#main h3 {
	font: normal 300 2em 'Open Sans', Arial, Helvetica, sans-serif;
	margin-right: -1em;
}
#main h1 span {font-size: 1em;color: #b8b8b8;}

#main h4,
#main h1 {color: #494949; margin-bottom: 0.5em;}
#main h3 {color: #3fb3f6;}

#main .columns h4,
#main .columns h3 { color: #494949; }

#main .columns h4 {
	font-size: 1em;
	font-weight: bold;
}


#main .content.tech ul,
.grid,
.columns {
	position: relative;
	overflow: hidden;
	margin-top: -5px;
	margin-left: -5px;
	padding-top: 5px;
	padding-left: 5px;
	
	margin-bottom: 50px;
}

.columns {margin: 2em 0 4em 35px;}
.columns.two {margin: 2em 0 4em;}
.columns.two h3 {margin-left: 35px;}

.columns.two > div{
	margin-top: 1em;
	width: 49.5%;
	float:left;

	padding: 0 35px;
}

	
.columns.three > div {
	width: 33%;
	float:left;

	padding-right: 35px;
}


.gradient-bg{
	background: #f3f3f3;
}
	
#main .content.tech ul li,
.grid-item {
	position: relative;
	overflow: hidden;
	width: 234px;
	margin: 0 4px 4px 0;
	float: left;
}
.grid-item {
	display: block;
	height: 257px;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	border: 1px solid #f0f0f0;
}

.grid-item img {
	border: 0;
	width: 234px;
	height: 177px;
}

.grid-item .meta {
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	height: 85px;
	padding: 10px;
}

#main .grid-item .meta .course-code,
#main .grid-item .meta .course-prof {
	font: normal bold 10px/10px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #b8b8b8;
}
#main .grid-item .meta .course-name {
	font: normal 700 16px/18px 'Open Sans Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #757474;
	display: block;
	margin-bottom: 10px;
}

#main .grid-item .meta .course-prof{
	color: #3fb3f6;
}

/*course detail view*/

/*custom tags*/
next, previous, close, controls {	display: block; }

div.subpage {
	position: absolute;
	overflow: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: 0;
	padding: 100px 0 0 0;
	background: #ccc; /*see gaps*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%; /*fallback for no cover support*/
	background-size: cover;
}

div.subpage > * {
	width: 920px;
	position: relative;
	margin: 0 auto 5px;
	background: #fff;
	color: #494949;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.pointer-events div.subpage > *::after {
	content: '';
	position: absolute;
	pointer-events: none;
	background: none;
	top:0; left:0; right:0; bottom:0;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
	z-index: 2;
}

div.subpage .course-header {
	position: relative;
	top: -70px;
	height: 42px;
	background: none;
	margin-bottom: -50px;
}
div.subpage > .course-header::after{display:none;}

div.subpage controls {
	display: block;
	position: absolute;
	overflow: hidden;
	right: 0;
}

div.subpage next {
	margin: 0 2px;
}

div.subpage next,
div.subpage previous,
div.subpage close {
	float: right;
	display: inline-block;
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
	background-positoin: center center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 0.3;
}
div.subpage next:hover,
div.subpage previous:hover,
div.subpage close:hover {
	background-color: rgba(0,0,0,0.2);
	opacity:1;
}

div.subpage close {
	background-image: url(images/ico_close.png);
}
div.subpage previous {
	background-image: url(images/ico_arrow_back.png);
}
div.subpage next {
	background-image: url(images/ico_arrow_forward.png);
}


div.subpage .course-introduction {
	margin-bottom: 0;
}

div.subpage .course-introduction::before {
	content: url(images/january-2014-banner.png);
	position: absolute;
	pointer-events: none;
	background: none;
	top:0; left:0;
	z-index: 1;
}

div.subpage .promovideo {
	background: #ccc;
	max-height: 491px;
	overflow: hidden;
}

iframe {
	margin: 0 0 -5px 0 !important;
}
	
div.subpage .course-title {
	background: black;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 20px;
	font: normal bold 32px/55px 'Open Sans Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
}


div.subpage .course-description {
	padding: 15px 20px 50px;
	font-size: 14px; 
	font-weight: 300;
	line-height: 2em;
}
div.subpage .course-faq {
	padding: 15px 20px 30px;
	font-size: 14px; 
	line-height: 1.75em;
}
div.subpage .course-faq .label {
	margin-bottom: 10px;
}

div.subpage .course-open-course-note {
	background: #f2f2f2;
	padding: 20px;
}

div.subpage p {
	font-size: 14px;
	line-height: 1.75em;
	margin: 0.5em 0;
}

div.subpage .course-open-course-note p {
	color: #747475;
}

div.subpage .course-details h3,
div.subpage .course-open-course-note h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 35px;
}

div.subpage .course-details {
	overflow: hidden;
}

div.subpage .course-details h3 {
	margin: 20px;
}

div.subpage .course-open-course-note blockquote {
	color: #f2713e;
	font-style: italic;
	font-weight 600;
	font-size: 14px;
	line-height: 1.75em;
}

div.subpage .course-open-course-note blockquote::before {
	content:"\00bb";
	font-style: italic; 
	font-weight: 500; 
	font-size: 19px;
	color: #f2713e;
	margin-right: 0.4em;
}

div.subpage .label {
	color: #b8b8b8;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
}

div.subpage .course-fields {
	padding: 0 20px;
}
	
div.subpage .field-row {
	overflow: hidden;
	position: relative;
	border: 0 solid #f1f1f1;
	border-top-width: 1px;
	padding: 0.75em 0 1.5em;
}
div.subpage .field-row:first-child {
	border-top-width: 0;
}
div.subpage .course-field-cell p {
	font-size: 16px;
	font-weight: 300;
}

div.subpage .course-field-cell.credit a,
div.subpage .course-field-cell.credit p {
	font-weight: 600;
	font-size: 16px;
}
	
div.subpage .course-field-cell {
	display: inline-table;
	display: inline-block;
	width: 49%;
	margin: 0;
	vertical-align: top;
}
div.subpage .course-field-cell.third {
	width: 33%;
}

div.subpage .course-field-cell.thirds {
	width: 66%;
}

div.subpage .course-field-cell.thirds span { white-space: nowrap; }
div.subpage .course-field-cell.thirds span +span { margin-left: 1em; }

div.subpage .course-instructors {
	background: #fff;
	color: #b8b8b8;
	font-weight: 300;
	font-size: 16px;
}

div.subpage .course-instructors .instructor {
	position: relative;
	overflow: hidden;
}

div.subpage .course-instructors .instructor .name {
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	color: #494949;
}

div.subpage .course-instructors .instructor img {
	float: left;
	background-color: #494949;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 160px;
	height: 160px;
}

div.subpage .course-instructors .instructor .wrap {
	margin: 0 0 0 160px;
	padding: 15px 15px 15px 15px;
	border-top: 1px solid #f1f1f1;
}
div.subpage .course-instructors .instructor:first-child .wrap {
	border-top: 0;
}

div.subpage .course-faq {
	font-weight: 300;
}

div.subpage .course-faq h4{
	font-style: italic;
	font-size: 16px;
	font-weight: 600;
	color: #494949;
}

div.subpage .course-techsupport {
	position: relative;
	overflow: hidden;
	background: #fff;
	color: #494949;
	margin-bottom: 60px;
}

div.subpage .course-techsupport img {
	float: left;
	background-color: #494949;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 160px;
	height: 160px;
}

div.subpage .course-techsupport .wrap {
	margin: 0 10px 0 170px;
	padding: 15px 5px;
}

div.subpage a,
div.subpage a:link,
div.subpage a:visited,
div.subpage a:active {
	color: #3fb3f6;
	text-decoration: none;
}

div.subpage .course-techsupport ul {
	list-style: none;
}

div.subpage .course-techsupport li {
	font-size: 14px;
	font-weight: 300;
	margin: 5px 0;
}


/*animation*/

.subpage {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	 -webkit-transform: translateZ(0);
 	 -moz-transform: translateZ(0);
 	 -ms-transform: translateZ(0);
 	 -o-transform: translateZ(0);
	 transform: translateZ(0);
	
	
	-webkit-animation-duration: 1s;
/*	-webkit-animation-delay: .2s;*/
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 1s;
/*	-moz-animation-delay: .2s;*/
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: both;
	
	-ms-animation-duration: 1s;
/*	-ms-animation-delay: .2s;*/
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-fill-mode: both;
	
	-o-animation-duration: 1s;
/*	-o-animation-delay: .2s;*/
	-o-animation-timing-function: ease-in-out;
	-o-animation-fill-mode: both;
	
	animation-duration: 1s;
/*	animation-delay: .2s;*/
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
	0% { -webkit-transform: translateX(0); }
	100% { opacity: 0; -webkit-transform: translateX(-2000px); }
}

@-moz-keyframes slideOutLeft {
	0% { -moz-transform: translateX(0); }
	100% { opacity: 0; -moz-transform: translateX(-2000px); }
}

@-o-keyframes slideOutLeft {
	0% { -o-transform: translateX(0); }
	100% { opacity: 0; -o-transform: translateX(-2000px); }
}

@keyframes slideOutLeft {
	0% { transform: translateX(0); }
	100% { opacity: 0; transform: translateX(-2000px); }
}

@-webkit-keyframes slideOutRight {
	0% { -webkit-transform: translateX(0); }
	100% { opacity: 0; -webkit-transform: translateX(2000px); }
}

@-moz-keyframes slideOutRight {
	0% { -moz-transform: translateX(0); }
	100% { opacity: 0; -moz-transform: translateX(2000px); }
}

@-o-keyframes slideOutRight {
	0% { -o-transform: translateX(0); }
	100% { opacity: 0; -o-transform: translateX(2000px); }
}

@keyframes slideOutRight {
	0% { transform: translateX(0); }
	100% { opacity: 0; transform: translateX(2000px); }
}
	
@-webkit-keyframes slideOutDown {
	0% { -webkit-transform: translateY(0); }
	100% { opacity: 0; -webkit-transform: translateY(2000px); }
}

@-moz-keyframes slideOutDown {
	0% { -moz-transform: translateY(0); }
	100% { opacity: 0; -moz-transform: translateY(2000px); }
}

@-o-keyframes slideOutDown {
	0% { -o-transform: translateY(0); }
	100% { opacity: 0; -o-transform: translateY(2000px); }
}

@keyframes slideOutDown {
	0% { transform: translateY(0); }
	100% { opacity: 0; transform: translateY(2000px); }
}


@-webkit-keyframes slideInLeft {
	0% { opacity: 0; -webkit-transform: translateX(-2000px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes slideInLeft {
	0% { opacity: 0; -moz-transform: translateX(-2000px); }
	100% { -moz-transform: translateX(0); }
}

@-o-keyframes slideInLeft {
	0% { opacity: 0; -o-transform: translateX(-2000px); }
	100% { -o-transform: translateX(0); }
}

@keyframes slideInLeft {
	0% { opacity: 0; transform: translateX(-2000px); }
	100% { transform: translateX(0); }
}


@-webkit-keyframes slideInRight {
	0% { opacity: 0; -webkit-transform: translateX(2000px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes slideInRight {
	0% { opacity: 0; -moz-transform: translateX(2000px); }
	100% { -moz-transform: translateX(0); }
}

@-o-keyframes slideInRight {
	0% { opacity: 0; -o-transform: translateX(2000px); }
	100% { -o-transform: translateX(0); }
}

@keyframes slideInRight {
	0% { opacity: 0; transform: translateX(2000px); }
	100% { transform: translateX(0); }
}


@-webkit-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-moz-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-o-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }

@-webkit-keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
@-moz-keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
@-o-keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
@keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }

.slideInLeft {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

.slideInRight {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}


.slideOutLeft {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}

.slideOutRight {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}

.slideOutDown {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
	
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
}