#video {
	width: 1024px;
	height: 577px;
	background: #ccc;
}
#video iframe {
	margin: 0 auto;
}

#feature-img { background: #DDD url('images/ou_landing_feature_image.jpg') no-repeat center center; }

#main *,
#main {
	font: normal normal 14px/28px 'Open Sans', Arial, Helvetica, sans-serif;	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#main {
	color: #494949;
	background-color: #252525;
	background-image: url(images/bg_black.gif);
	background-repeat: repeat;
}

#main .content {
	padding: 70px 50px 80px;
}

#main h1,
#main h3 {
	font: normal 300 2em 'Open Sans', Arial, Helvetica, sans-serif;
	margin-right: -1em;
}

#main h1 {color: #494949; margin-bottom: 0.5em;}
#main h3 {color: #3fb3f6;}


.grid,
.columns {
	position: relative;
	overflow: hidden;
	margin-top: -5px;
	margin-left: -5px;
	padding-top: 5px;
	padding-left: 5px;
}

.columns {margin: 2em 0 4em 50px;}

.columns.three > div {
	width: 32%;
	float:left;

	padding-right: 50px;
}


.gradient-bg{
	background: #f3f3f3;
}
	
	
.grid-item {
	position: relative;
	width: 227px;
	height: 257px;
	float: left;
	margin: 0 4px 4px 0;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	border: 1px solid #f0f0f0;
}

.grid-item img {
	border: 0;
	width: 227px;
	height: 172px;
}

.grid-item .meta {
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	height: 85px;
	padding: 10px;
}

#main .grid-item .meta .course-code,
#main .grid-item .meta .course-prof {
	font: normal bold 10px/10px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #b8b8b8;
}
#main .grid-item .meta .course-name {
	font: normal normal 16px/18px 'Open Sans Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #75747;
	display: block;
	margin-bottom: 10px;
}

#main .grid-item .meta .course-prof{
	color: #3fb3f6;
}

.spacer {
	margin-right: 250px;
}

#main .support-widget {
	background-color: #ededed;
	padding: 1em;
	margin: 5em 20px 0 0;
	float: right;
	width: 195px;
}
#main .support-widget *{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
}

#main .support-widget img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

#main .support-widget .textimage {
	overflow: auto;
	border-bottom: 1px dotted #666;
	padding: 0.75em 0;
	margin: 0;
}

#main .support-widget a:active {
	color: #298AC4 !important;
	outline: none;
}

#main .support-widget a:hover {
	color: #298AC4 !important;
	text-decoration: underline;
}

#main .support-widget a:hover {
	color: #005580 !important;
	text-decoration: underline;
}

#main .support-widget a:hover, 
#main .support-widget a:active {
	outline: 0;
}

#main .support-widget .textimage:last-child {
	border-bottom: none;
}

#main .support-widget .textimage  img {
	border: none;
	margin: 0 1em 0 0;
}
#main .support-widget h1 {
	padding: 9px 0;
	margin: 0 0 0 0;
	color: #660000;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
}
