@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FFF;
	padding:0;
	margin:0;
	line-height: 1.65em;
	color:#444;
	font-size: 75%;
}
*:empty { margin:0; padding:0; }
p:empty { display:none; }
a { color:#298AC4; outline: none; text-decoration:none; }
a:hover { color:#298AC4; text-decoration:underline; }
a:active { color:#298AC4; outline: none; }
:focus, a:focus { -moz-outline-style: none; outline:none;}
:link:focus, :visited:focus { -moz-outline: none; ouline:none; }
img {
    outline:none;
    border:none;
    padding:0;
    margin:0;
}

/* IE8 hack to get it to apply margin auto centering to element inside this one */
#wrapper-all { width:100%; }

/* GLOBAL HEADER
----------------------------------------- */

.globalheader {
    background-image:url(images/ou-globalheader-bg.jpg);
    background-repeat:repeat;
}
.globalheader::after  {
    content:"";
    background-color:#6d1717;
    border-top:1px solid #1a1a1a;
    height:2px;
    display:block;
    width:100%;
}
.globalheader ul {
	list-style-type:none;
    height:30px;
    float:right;
}
.globalheader ul::after  {
    content:"";
    display:block;
    width:100%;
	clear:both;
	float:none;
}
.globalheader ul li { float:left;}
.globalheader ul li a.home,
.globalheader ul li a.search,
.globalheader ul li a.social {
    display:block; 
    height:30px;
    width:30px;
}
.globalheader ul li a {
    background-image: url(images/glyphicons-globalheader.png);
    background-repeat:no-repeat;
}
.globalheader ul li a.home { background-position:0 0; }
.globalheader ul li a.home:hover { background-position:0 -30px; }
.globalheader ul li a.search { background-position:-30px 0; }
.globalheader ul li a.search:hover { background-position:-30px -30px; }
.globalheader ul li a.social { background-position:-60px 0; }
.globalheader ul li a.social:hover { background-position:-60px -30px; }
.globalheader ul li a:hover { background-color:#e8e8e8; }
.globalheader ul li.wordmark {
    text-indent:-99999px;
    width:200px;
    height:30px;
    margin-left:1em;
    background-image:url(images/ou-wordmark.png);
    background-repeat:no-repeat;
    background-position:center center;
}

a.tip { position:relative; }
a.tip span { display: none; }
/* the span will display just on :hover state */
a.tip:hover span { 
    position:absolute;
    z-index:25;
    top:135%; 
    left:-3.75em;  
    width:8em;
    display:block;
    margin:0;
    padding:0.25em 1em;
    border:1px solid #444;
    background-image:url(images/bg_black.gif);
    background-repeat:repeat;
    white-space:nowrap;
    text-align: center;
    color:#fff;
    font-size:90%;
}
/* the arrow */
a.tip:hover span::before {
    content:"";
    width:100%;
    display:block;
    background-image:url(images/mobile_menu_arrow.png);
    background-repeat:no-repeat;
    background-position:top center;
    background-repeat:no-repeat;
    background-position:top center;
    bottom:100%;
    left:0;
    height:9px;
    position:absolute;
 
}

/* HEADER
----------------------------------------- */

#header {
    background-image:url(images/ou-header-bg.jpg);
    background-repeat: repeat;
}
#header::after {
    content:"";
    background-color:#3e0204;
    border-top:1px solid #300204;
    border-bottom:1px solid #300204;
    height:8px;
    display:block;
}
#header a.logo {
	display:inline-block;
	margin:2em 0;
}

/* BODY
----------------------------------------- */

.wrapper { 
	margin:0 auto; /* center the content */
/*	width:980px;*/
	width:1024px;
}

#main .wrapper {
	box-shadow: 0 0 5px black;
	background: #fff;
}

/* FOOTER
------------------------------------- */

#footer {
    background-image:url(images/bg_black.gif);
    background-repeat:repeat;   
	overflow:hidden;
	line-height: 1.5em;
	color:#999;
}

#footer a { text-decoration:none; }
#footer a:hover { text-decoration:underline; }

#footer a:link,
#footer a:visited {
    color:#FFF;
}

#footer .footerColumn { overflow:auto; float:left; padding:2em 0; }
#footer .logo { margin-right:1em; }
#footer .address { margin-right:8em; }
#footer .links  { margin-right:3em; }
#footer .social  { float:right; }

#footer .links ul {
    padding:0;
    margin:0;
    overflow:auto;
	list-style-type:none;
}

#footer .social h3 {
    color: #999999;
    font-size: 100%;
    padding: 0;
	margin:0 0 0.5em;
    text-transform: none;
	font-weight:normal;
}

#footer .social ul,
#footer .social h3 {
    width:184px; /* width of 4 icons */
}

#footer .social ul {
    padding:0;
    margin:0;
    overflow:auto;
	list-style-type:none;
}
#footer .social ul li { float:left; }

#footer .social ul li a {
	display:block;
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
	background-image:url(images/footer_social_icons.png);
}
#footer .social ul a.facebook { background-position: 0 0; }
#footer .social ul a.facebook:hover { background-position: -46px 0; }

#footer .social ul a.twitter { background-position: 0 -46px; }
#footer .social ul a.twitter:hover { background-position: -46px -46px; }

#footer .social ul a.youtube { background-position: 0 -92px; }
#footer .social ul a.youtube:hover { background-position: -46px -92px; }

#footer .social ul a.itunesu { background-position: 0 -138px; }
#footer .social ul a.itunesu:hover { background-position: -46px -138px; }

#footer .social ul a.linkedin { background-position: 0 -184px; }
#footer .social ul a.linkedin:hover { background-position: -46px -184px; }

#footer .social ul a.flickr { background-position: 0 -230px; }
#footer .social ul a.flickr:hover { background-position: -46px -230px; }

#footer .social ul a.pinterest { background-position: 0 -276px; }
#footer .social ul a.pinterest:hover { background-position: -46px -276px; }

#footer .social ul a.foursquare { background-position: 0 -322px; }
#footer .social ul a.foursquare:hover { background-position: -46px -322px; }

#footer .social ul a.more { background-position: 0 -368px; }
#footer .social ul a.more:hover { background-position: -46px -368px; }

#footer .notes { 
    clear: both;
    display: block;
	border-top:1px solid #666;
	padding:1em 0;
}



/*Styles from around OU's site that handy here*/

a.ou-btn {
	background-color: #298AC4;
	color: #FFFFFF!important;
	padding: 0.75em 1.5em;
	margin: 1.5em 0;
	font-size: 100%;
	line-height: 1.3;
	display: inline-block;
	background: -moz-linear-gradient(#00B8F1, #0085E7);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00B8F1), color-stop(100%, #0085E7));
	background: -webkit-linear-gradient(#00B8F1, #0085E7);
	background: -o-linear-gradient(#00B8F1, #0085E7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B8F1', endColorstr='#0085E7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B8F1', endColorstr='#0085E7')";
	background: linear-gradient(#00B8F1, #0085E7);
	background-repeat: repeat-x;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4), 0 1px 0 #00EDFB inset;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
}

a.ou-btn:focus,
a.ou-btn:active,
a.ou-btn:hover {
	background-color: #1c7bb3;
	background-repeat: repeat-x;
	background: -moz-linear-gradient(#25cbff, #0076ce);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25cbff), color-stop(100%, #0076ce));
	background: -webkit-linear-gradient(#25cbff, #0076ce);
	background: -o-linear-gradient(#25cbff, #0076ce);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25cbff', endColorstr='#0076ce');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#25cbff', endColorstr='#0076ce')";
	background: linear-gradient(#25cbff, #0076ce);
}

#main a.ou-btn1 {
	background-color: #298AC4;
	color: #FFFFFF;
	top: auto;
	right: auto;
	bottom: auto;
	left: 0;
	padding: 1em;
	margin-top: 1em;
	font-size: 100%;
	line-height: 0;
	display: inline-table;
	display: inline-block;
	

}
a.ou-btn1:hover {
	text-decoration: none;
	background-color: #1d648e;
}

.code {
	overflow: auto;
	clear: both;
}

.code ul {
	list-style-position: inside;
	list-style-type: square;
}


.code li, .code ul {
	margin: 0;
	padding: 0;
}

.code ul,.code ol {
	padding: 0;
	margin: 0 0 10px 25px;
}

#header ul.quick-links li {
	float: left;
	padding: 0;
	margin: 0 0.25em;
	display: inline-block;
}
#header ul.quick-links {
	float: right;
	list-style-type: none;
	margin: 0 0 1em;
	overflow: auto;
	padding: 0;
}

#header ul.quick-links a.ou-btn {
	margin: 0;
}

#header ul.quick-links li a {
	display: block;
}



#header a.ou-btn {
	padding: 0.5em 1.25em;
	margin: 1.25em 0;
	box-shadow: none;
	border-radius: 0 0 0 0;
}