.input > :global(.nti-text-input) {
	border: none;
	border-radius: 0;
	padding: 0 0 0.5rem;
	background: none;
	box-shadow: 0 1px 0 0 var(--primary-grey);
	width: 100%;
	font-size: 1rem;
	line-height: 2;
}

.input {
	margin-bottom: 0.625rem;
}

.input + .input {
	margin-top: 1rem;
}