.hidden { display: none; visibility: hidden; }
.no-js .hidden { display: block; visibility: visible; }
.shown { visibility: visible; }


/* Tabs */
.tabbed-grids .tabs {
	position: relative;
	overflow: hidden;
	float: right;
	height: 37px;
	border-radius: 3px;
	white-space: nowrap;
	background: #fff;
	box-shadow: inset 0px -2px 0 -1px #d6d6d6
}

.tabbed-grids .tabs a {
	display: inline-block;
	white-space: nowrap;
	float: left;
	font-size: 0.9em !important;
	line-height: 37px !important;
	padding: 0 20px;
	text-decoration: none;
	color: #757474;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #e0e0e0;
}

.tabbed-grids .tabs a:last-of-type,
.tabbed-grids .tabs a:first-of-type {
	border-width: 0;
}

.tabbed-grids .tabs a.active {
	box-shadow: 0 0 0 0 #308cc2;
	background: #308cc2;
	border-color: #308cc2;
	color: #fff;
	font-weight: 600 !important;
}

.tabbed-grids .grid{ display: none; }
.tabbed-grids .grid.active { display: block; }
/* End of Tabs */

.library-view {
  background: #333;
}

.library-item {
  position: relative;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  border-radius: 1px;
  display: block;
  height: 257px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  border: 1px solid #f0f0f0;
}

@media (min-width: 600px) {
  .library-item {
    width: 232px;
  }
}

.library-item > a::after {
  content: none;
}

.library-item > a img {
  background-color: #ccc;
  position: static;
  width: 100%;
  background-size: cover;
}

@media (min-width: 600px) {
  .library-item > a img {
    height: 170px;
  }
}

.library-item > a label {
  position: static;
  background: #fff;
  overflow: hidden;
  height: 5.4rem;
}

.library-item > a label h3, .library-item > a label address {
  white-space: normal;
}

.library-item > a label h3 {
  color: #494949;
  font-weight: 300;
  font-size: 1rem;
  max-height: 3rem;
}

.library-item ul {
  margin: 0;
}

.library-item ul.sections {
  border-top: 1px solid #ccc;
  background: #fff;
}

.grid-container {
  margin: 0 0.625rem;
}

.library-collection {
  margin: 0 0.625rem;
  padding-top: 2rem;
}

.library-collection h5 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.library-collection h5 label {
  display: inline;
  color: #757474;
  margin: 0.5em;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
}

.library-collection ul {
  list-style-type: none;
}

.library-collection > ul {
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1rem 0 1rem 0.625rem;
}

.library-collection > ul > li {
  display: block;
  float: left;
  vertical-align: top;
  margin: 0 4px 4px 0;
  cursor: pointer;
}

.library-item .meta {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    padding: 10px;
}

.library-item .meta .course-code, .library-item .meta .course-prof {
    font: normal bold 10px/10px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #b8b8b8;
}

.library-item .meta .course-name {
    font: normal 700 16px/18px 'Open Sans Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #757474;
    display: block;
    margin-bottom: 10px;
}

.library-item .meta .course-prof {
    color: #3fb3f6;
}

/* Mobile Screens Only */
@media only screen and (max-width: 40em) {
	.library-collection > ul > li {
	    display: inline-block;
	    vertical-align: top;
		float: none;
	}
	.library-collection > ul > li:not(:first-of-type) {
	  margin-left: 0.625rem;
	}
}
@media only screen and (max-width: 930px) {
	.library-collection > ul > li {
	    display: inline-block;
	    vertical-align: top;
		float: none;
	}
	.library-collection > ul > li:not(:first-of-type) {
	  margin-left: 0.625rem;
	}
}

/* End of Library Collection */


.cell {
  display: inline-block;
}

.catalog-item,
.thumbnail-grid-item {
  padding-bottom: 0 !important;
}

.catalog-item a,
.thumbnail-grid-item a {
  display: block;
  padding: 0.625rem;
  box-shadow: inset 0 -1px 0 0 #eaeaea;
  overflow: hidden;
}

.catalog-item .thumbnail,
.thumbnail-grid-item .thumbnail {
  float: right;
  width: 33%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog-item .thumbnail::before,
.thumbnail-grid-item .thumbnail::before {
  content: '';
  display: block;
  padding-top: 70%;
}

.catalog-item .thumbnail.resolving,
.thumbnail-grid-item .thumbnail.resolving {
  position: relative;
}

.catalog-item .thumbnail.resolving::before,
.thumbnail-grid-item .thumbnail.resolving::before {
  position: static !important;
  background: #fff !important;
}

.catalog-item h3,
.thumbnail-grid-item h3 {
  margin-right: 35%;
}

li.catalog-item {
  position: relative;
  border-top: 1px solid #eaeaea;
  padding: 0;
}

li.catalog-item .thumbnail {
  width: 25%;
  max-width: 110px;
  float: none;
}

li.catalog-item .thumbnail::after {
  padding-top: 60%;
}

li.catalog-item .action {
  float: right;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 3px;
  margin: 0 0.2rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: white;
}

li.catalog-item .action.add {
  border: 1px solid #3fb3f6;
  color: #3fb3f6;
}

li.catalog-item .action.drop {
  color: #F35252;
  border: 1px solid #F35252;
}

li.catalog-item a {
  padding: 0;
  position: relative;
  box-shadow: none;
}

li.catalog-item > a {
  display: flex;
}

li.catalog-item > a .thumbnail, li.catalog-item > a label {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

li.catalog-item > a label {
  flex: 1 1 auto;
}

li.catalog-item > a .thumbnail {
  flex: 0 0 auto;
}

li.catalog-item label {
  padding: 0.625rem 65px 0.625rem 0.625rem;
}

li.catalog-item h3, li.catalog-item h5 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li.catalog-item h3 {
  font-size: 1.2rem;
}

li.catalog-item h5 {
  display: inline;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #b8b8b8;
}

/*animation*/

/*.hwaccel .subpage {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	 -webkit-transform: translateZ(0);
 	 -moz-transform: translateZ(0);
 	 -ms-transform: translateZ(0);
 	 -o-transform: translateZ(0);
	 transform: translateZ(0);
 }*/

.transitions .subpage {
	-webkit-animation-duration: .5s;
/*	-webkit-animation-delay: .2s;*/
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;

	-moz-animation-duration: .5s;
/*	-moz-animation-delay: .2s;*/
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: both;

	-ms-animation-duration: .5s;
/*	-ms-animation-delay: .2s;*/
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-fill-mode: both;

	-o-animation-duration: .5s;
/*	-o-animation-delay: .2s;*/
	-o-animation-timing-function: ease-in-out;
	-o-animation-fill-mode: both;

	animation-duration: .5s;
/*	animation-delay: .2s;*/
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
	0% { -webkit-transform: translateX(0); }
	100% { opacity: 0; -webkit-transform: translateX(-2000px); }
}

@-moz-keyframes slideOutLeft {
	0% { -moz-transform: translateX(0); }
	100% { opacity: 0; -moz-transform: translateX(-2000px); }
}

@-o-keyframes slideOutLeft {
	0% { -o-transform: translateX(0); }
	100% { opacity: 0; -o-transform: translateX(-2000px); }
}

@keyframes slideOutLeft {
	0% { transform: translateX(0); }
	100% { opacity: 0; transform: translateX(-2000px); }
}

@-webkit-keyframes slideOutRight {
	0% { -webkit-transform: translateX(0); }
	100% { opacity: 0; -webkit-transform: translateX(2000px); }
}

@-moz-keyframes slideOutRight {
	0% { -moz-transform: translateX(0); }
	100% { opacity: 0; -moz-transform: translateX(2000px); }
}

@-o-keyframes slideOutRight {
	0% { -o-transform: translateX(0); }
	100% { opacity: 0; -o-transform: translateX(2000px); }
}

@keyframes slideOutRight {
	0% { transform: translateX(0); }
	100% { opacity: 0; transform: translateX(2000px); }
}

@-webkit-keyframes slideOutDown {
	0% { -webkit-transform: translateY(0); }
	100% { opacity: 0; -webkit-transform: translateY(2000px); }
}

@-moz-keyframes slideOutDown {
	0% { -moz-transform: translateY(0); }
	100% { opacity: 0; -moz-transform: translateY(2000px); }
}

@-o-keyframes slideOutDown {
	0% { -o-transform: translateY(0); }
	100% { opacity: 0; -o-transform: translateY(2000px); }
}

@keyframes slideOutDown {
	0% { transform: translateY(0); }
	100% { opacity: 0; transform: translateY(2000px); }
}


@-webkit-keyframes slideInLeft {
	0% { opacity: 0; -webkit-transform: translateX(-2000px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes slideInLeft {
	0% { opacity: 0; -moz-transform: translateX(-2000px); }
	100% { -moz-transform: translateX(0); }
}

@-o-keyframes slideInLeft {
	0% { opacity: 0; -o-transform: translateX(-2000px); }
	100% { -o-transform: translateX(0); }
}

@keyframes slideInLeft {
	0% { opacity: 0; transform: translateX(-2000px); }
	100% { transform: translateX(0); }
}


@-webkit-keyframes slideInRight {
	0% { opacity: 0; -webkit-transform: translateX(2000px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes slideInRight {
	0% { opacity: 0; -moz-transform: translateX(2000px); }
	100% { -moz-transform: translateX(0); }
}

@-o-keyframes slideInRight {
	0% { opacity: 0; -o-transform: translateX(2000px); }
	100% { -o-transform: translateX(0); }
}

@keyframes slideInRight {
	0% { opacity: 0; transform: translateX(2000px); }
	100% { transform: translateX(0); }
}


@-webkit-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-moz-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-o-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }

@-webkit-keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
@-moz-keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
@-o-keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
@keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }

.transitions .slideInLeft {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

.transitions .slideInRight {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}


.transitions .slideOutLeft {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}

.transitions .slideOutRight {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}

.transitions .slideOutDown {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;

	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
}
