@charset "UTF-8";

/* CSS Document */

body {
	font-family: Open Sans;
	background-color: #FFF;
	padding: 0;
	margin: 0;
	line-height: 1.65em;
	color: #444;
	font-size: 75%;
	background-color: #252525;
	background-image: url(../images/bg_black.gif);
	background-repeat: repeat;
}
.row {
	max-width: 64rem;
}
*:empty {
	margin: 0;
	padding: 0;
}
p:empty {
	display: none;
}
a {
	color: #298AC4;
	text-decoration: none;
}
a:hover {
	color: #298AC4;
	text-decoration: underline;
}
a:active {
	color: #298AC4;
	outline: none;
}

/*:focus, a:focus { -moz-outline-style: none; outline:none;}
:link:focus, :visited:focus { -moz-outline: none; ouline:none; }*/

img {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}

/* IE8 hack to get it to apply margin auto centering to element inside this one */

#wrapper-all {
	width: 100%;
}
#container {
	box-shadow: 0 0 5px black;
}

/* GLOBAL HEADER
----------------------------------------- */

#globalheader {
	background-image: url(../images/ou-globalheader-bg.jpg);
	background-repeat: repeat;
	max-height: 1.875rem;
	padding: 0px;
}
#globalheader::after {
	content: "";
	background-color: #6d1717;
	border-top: 1px solid #1a1a1a;
	height: 2px;
	display: block;
	width: 100%;
}
#globalheader ul {
	list-style-type: none;
	height: 30px;
	float: right;
	margin-right: 35px;
}
#globalheader ul::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
	float: none;
}
#globalheader ul li {
	float: left;
}
#globalheader ul li a.home, #globalheader ul li a.search, #globalheader ul li a.social {
	display: block;
	height: 30px;
	width: 30px;
}
#globalheader ul li a {
	background-image: url(../images/glyphicons-globalheader.png);
	background-repeat: no-repeat;
}
#globalheader ul li a.home {
	background-position: 0 0;
}
#globalheader ul li a.home:hover {
	background-position: 0 -30px;
}
#globalheader ul li a.search {
	background-position: -30px 0;
}
#globalheader ul li a.search:hover {
	background-position: -30px -30px;
}
#globalheader ul li a.social {
	background-position: -60px 0;
}
#globalheader ul li a.social:hover {
	background-position: -60px -30px;
}
#globalheader ul li a:hover {
	background-color: #e8e8e8;
}
#globalheader ul li.wordmark {
	text-indent: -99999px;
	width: 200px;
	height: 30px;
	margin-left: 1em;
	background-image: url(../images/ou-wordmark.png);
	background-repeat: no-repeat;
	background-position: center center;
}
a.tip {
	position: relative;
}
a.tip span {
	display: none;
}

/* the span will display just on :hover state */

a.tip:hover span {
	position: absolute;
	z-index: 25;
	top: 135%;
	left: -3.75em;
	width: 8em;
	display: block;
	margin: 0;
	padding: 0.25em 1em;
	border: 1px solid #444;
	background-image: url(../images/bg_black.gif);
	background-repeat: repeat;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	font-size: 90%;
}

/* the arrow */

a.tip:hover span::before {
	content: "";
	width: 100%;
	display: block;
	background-image: url(../images/mobile_menu_arrow.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-repeat: no-repeat;
	background-position: top center;
	bottom: 100%;
	left: 0;
	height: 9px;
	position: absolute;
}

/* Global Header Media
----------------------------------------- */

@media screen and (max-width: 690px) {
	#globalheader ul {
		float: right;
		margin: 0 auto;
		margin-right: 12px;
	}
	#globalheader .wrapper {
		width: 310px;
	}
}
@media screen and (min-width: 691px) and (max-width: 1000px) {
	#globalheader .wrapper {
		width: 600px;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1299px) {
	#globalheader .wrapper {
		width: 880px;
	}
}

/* HEADER
----------------------------------------- */

#header {
	background-image: url(../images/ou-header-bg.jpg);
	background-repeat: repeat;
	padding: 0px;
}
#header::after {
	content: "";
	background-color: #3e0204;
	border-top: 1px solid #300204;
	border-bottom: 1px solid #300204;
	height: 8px;
	display: block;
	position: relative;
	z-index: 9;
}
#header .logo {
	height: auto;
	min-width: 105px;
	width: 22%;
	vertical-align: middle;
	display: inline-block;
}
#header .wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}
#header .code {
	margin: 50px;
	float: right;
    position: relative;
    z-index: 999;
}

/* Mobile Screens Only */

@media only screen and (max-width: 40em) {
	#header {
		height: 59px;
	}

	#header .wrapper {
		height: 59px;
	}
	#header .code {
		margin-top: 10px;
		margin-bottom: 0px;
		margin-right: 10px;
		margin-left: 0px;
	}
	#header ul.quick-links a.ou-btn {
		font-size: 14px;
	}
	#header ul.quick-links a.about {
		margin-top: 0.643em;
		margin-right: 0.7145em;
		color: white;
		font-size: 14px;
	}
}

@media only screen and (min-width: 781px) and (max-width: 850px) {
	#header .logo {
		width: 27.54%;
	}
}

@media only screen and (min-width: 851px) {
	#header .logo {
	    width: 27.54%;
	}
}

#header .logo-container {
    position: absolute;
    top: 0;
	bottom: 4%;
    left: 4%;
    right: 0;/* Align center inline elements */
}

#header .logo-container:before, #header .logo-container::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

@media only screen and (min-width: 40.063em) {
	#header .logo-container {
	    position: absolute;
	    top: 0;
		bottom: 8%;
	    left: 4%;
	    right: 0;
	}
}
/* BODY
----------------------------------------- */

#main .wrapper {
	/*	box-shadow: 0 0 5px black;*/
	background: #fff;
}

/* MAST
----------------------------------------- */
#video {
    margin-top: 2%;
}

#kaltura .tap-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

#kaltura .tap-area::after, #kaltura .tap-area:after {
    content: "\f196";
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: none;
    font-size: 7em;
    color: white;
    text-shadow: 0 0px 10px black;
    text-align: center;
	cursor: pointer;
}

#mast {
	background-image: url(../images/janux_feature.png);
	background-repeat: repeat;
	padding: 0px;
}
#mast-text h3 {
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-family: Open Sans;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2.3px;
	line-height: 25px;
}
#mast-text {
	margin-top: 20px;
}
#mast-text p {
	text-align: center;
	font-family: 'Conqueror Sans';
	color: #bbbbbb;
	font-size: 1.125rem;
}
@media only screen and (min-width: 40.063em) {
	#mast-text h3 {
		text-align: right;
		font-size: 24px;
		font-family: Open Sans;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		line-height: 40px;
	}
	#mast-text {
		margin-top: 11%;
	}
	#mast-text p {
		text-align: right;
		font-size: 1.75em;
		font-size: 'Conqueror Sans';
	}
}
@media only screen and (min-width: 64.063em) {
	#video {
		margin-right: 20px;
		margin-top: 48px;
		margin-bottom: 25px;
	}
	#mast-text h3 {
		font-size: 38px;
		letter-spacing: 2.3px;
	}
	#mast-text p {
		font-size: 2.3em;
	}
	#mast-text {
		margin-top: 14%;
	}
}

/* About Janux
----------------------------------------- */

#about-janux {
	background-color: #fff;
	padding-left: 0.938rem;
	padding-right: 0.938rem;
	padding-top: 17px;
}
#about-janux p {
	font-family: Open Sans;
	font-weight: 100;
	color: #494949;
	line-height: 175%;
	margin-bottom: 2.125rem;
}
#about-janux h2 {
	font-family: Open Sans;
	font-weight: 100;
	line-height: 135%;
	color: #494949;
	font-size: 32px;
	margin-top: 20px;
}

/* Medium Screens and Up */

@media only screen and (min-width: 40.063em) {
	#about-janux {
		padding-left: 3em;
	}
}

/* Feature
----------------------------------------- */

#feature {
	background-color: #f0ede5;
	overflow: hidden;
}
#feature a {
	text-decoration: none;
}
#feature .course {
	padding-left: 15px;
	padding-right: 15px;
	border: solid 1px #e6e2d6;
}
#feature .meta {
	padding-top: 1.75em;
	padding-left: 0;
	padding-right: 0;
}
#feature .meta span {
	color: #962022;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 140%;
	font-size: 0.625rem;
}
#feature .meta h4 {
	font-size: 1.78em;
	line-height: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
	margin-bottom: 0.76em;
	color: #494949;
	margin-top: 0.4em;
}
#feature .meta p {
	font-family: Open Sans;
	font-weight: 100;
	color: #494949;
	font-size: 0.85rem;
	line-height: 200%;
}

/* Mobile Screens Only */

@media only screen and (max-width: 40em) {
	.feature img {
		padding-top: 1.666em;
	}
}

/* Medium Screens and Up */

@media only screen and (min-width: 40.063em) {
	#feature .course img {
		float: left;
	}
	#feature .meta {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
}

/* Large Screens */

@media only screen and (min-width: 64.063em) {
	#feature .course {
		padding: 3em 0 2.9em 3em;
		overflow: hidden;
	}
}

/* Enrollment Options
----------------------------------------- */

.enrollment-options {
	background-color: #f5f4ef;
}
.enrollment-options .option {
	padding-top: 1em;
	text-align: center;
	padding-bottom: 1em;
}
.enrollment-options .option {
	box-shadow: inset 0 -1px 0 #e6e2d6;
}
.option .price {
	text-align: center;
	font-size: 2.25rem;
	padding-top: 0.3em;
	font-family: Open Sans;
	font-weight: 600;
	color: #358bc1;
	line-height: 80%;
}
.option .price .old {
	color: #B8B8B8;
	text-decoration: line-through;
	font-size: 1.5rem;
}
.option h5 {
	color: #786f56;
	font-size: 0.875rem;
	font-family: Open Sans Condensed;
	text-align: center;
	font-weight: 700;
	padding-top: .6em;
}

/* Large Screens */

@media only screen and (min-width: 64.063em) {
	.enrollment-options .option {
		padding-bottom: 2.1em;
	}
}

/* Course Content
------------------------------------- */

.courseContent {
	background-color: #f3f3f3;
}
.courseContent h1 {
	color: #494949;
	margin-bottom: 0.5em;
	font: normal 300 1.75rem 'Open Sans', Arial, Helvetica, sans-serif;
	margin-right: -1em;
	margin-left: 0.9375rem;
}
a.button.tabBtn {
    box-shadow: inset 0px -2px 0 -1px #d6d6d6;
}
@media only screen and (min-width: 40.063em) {
	.courseContent h1 {
		margin-left: 1.286em;
	}
}
/* Large Up */
@media only screen and (min-width: 64.063em) {
	.courseContent {
		padding-bottom: 4em;
	}
}
/* Tech
------------------------------------- */

#tech {
	background-color: white;
	padding-bottom: 1.666em;
	padding-top: 3.333em;
	padding-left: 1.666em;
}
#tech h1 {
	color: #494949;
	margin-bottom: 0.5em;
	margin-top: 0px;
	font: normal 300 3em 'Open Sans', Arial, Helvetica, sans-serif;
}
#tech a.ou-btn1 {
	background-color: #2580b2;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	margin-left: -4px;
}
#tech ul {
	list-style-type: none;
	margin-left: 0px;
}
#tech ul li {
	padding-bottom: 1em;
	font-family: Open Sans;
	font-weight: 100;
}
@media only screen and (min-width: 64.063em) {
	#tech {
		padding-left: 3em;
	}
}
/* About Page
------------------------------------- */

#about_content {
    background-color: white;
}

#about h3 {
    color: #494949;
    padding-top: 1em;
    font: normal 300 2em 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 28px;
}

#about p {
    font-size: 1.166em;
    font-weight: normal;
    line-height: 2.33em;
    color: #494949;
}

#about {
    font: normal normal 14px/28px 'Open Sans';
}
#about ul {
    padding-bottom: 1.875em;
}

#about ul li{
	font-family: Open Sans;
}

#about p.nobottom {
    padding-bottom: 0;
    margin-bottom: 0;
}
#about h5 {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 600;
}
#about h5 + p {
    padding-top: 0;
}

#about p {
    font-size: 14px;
    font-family: Open Sans;
    line-height: 2em;
}
.faq_content {
    background-color: white;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}

.faq_content p {
	padding: 1em 0 0.25em;
}
@media only screen and (min-width: 40.063em) {
	.faq_content, #about_content {
	    padding-left: 3em;
		padding-right: 3em;
	}
}

/* FOOTER
------------------------------------- */

#footer .third {
	padding-bottom: 3em;
}
#footer .second {
	padding-left: 71px;
	padding-bottom: 5em;
}
#footer {
	background-image: url(../images/bg_black.gif);
	background-repeat: repeat;
	overflow: hidden;
	line-height: 1.5em;
	color: #999;
	margin: 0;
}

#footer .wrapper {
    margin: 0 auto;
    padding-left: 1.666em;
    padding-right: 1.666em;
}


#footer a {
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer a:link, #footer a:visited {
	color: #FFF;
}
#footer .footerColumn {
	overflow: auto;
	float: left;
	padding: 2em 0;
}
#footer .logo {
	margin-right: 1em;
}
#footer .address {
	margin-right: 8em;
	line-height: 2em;
	color: #747474;
}
#footer .links {
	margin-right: 3em;
	font-family: Open Sans;
	font-weight: 100;
}
#footer .social {
	float: right;
}
#footer .links ul {
	padding: 0;
	margin: 0;
	overflow: auto;
	list-style-type: none;
}
#footer .social h3 {
	color: #999999;
	font-size: 100%;
	padding: 0;
	margin: 0 0 0.5em;
	text-transform: none;
	font-weight: normal;
}
#footer .social ul, #footer .social h3 {
	width: 184px;
	/* width of 4 icons */
}
#footer .social ul {
	padding: 0;
	margin: 0;
	overflow: auto;
	list-style-type: none;
}
#footer .social ul li {
	float: left;
}
#footer .social ul li a {
	display: block;
	width: 46px;
	height: 46px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	background-image: url(../images/footer_social_icons.png);
}
#footer .social ul a.facebook {
	background-position: 0 0;
}
#footer .social ul a.facebook:hover {
	background-position: -46px 0;
}
#footer .social ul a.twitter {
	background-position: 0 -46px;
}
#footer .social ul a.twitter:hover {
	background-position: -46px -46px;
}
#footer .social ul a.youtube {
	background-position: 0 -92px;
}
#footer .social ul a.youtube:hover {
	background-position: -46px -92px;
}
#footer .social ul a.itunesu {
	background-position: 0 -138px;
}
#footer .social ul a.itunesu:hover {
	background-position: -46px -138px;
}
#footer .social ul a.linkedin {
	background-position: 0 -184px;
}
#footer .social ul a.linkedin:hover {
	background-position: -46px -184px;
}
#footer .social ul a.flickr {
	background-position: 0 -230px;
}
#footer .social ul a.flickr:hover {
	background-position: -46px -230px;
}
#footer .social ul a.pinterest {
	background-position: 0 -276px;
}
#footer .social ul a.pinterest:hover {
	background-position: -46px -276px;
}
#footer .social ul a.foursquare {
	background-position: 0 -322px;
}
#footer .social ul a.foursquare:hover {
	background-position: -46px -322px;
}
#footer .social ul a.more {
	background-position: 0 -368px;
}
#footer .social ul a.more:hover {
	background-position: -46px -368px;
}
#footer .notes {
	clear: both;
	display: block;
	border-top: 1px solid #666;
	padding: 1em 0;
	color: #757474;
	font-size: 1.166em;
}

@media only screen and (min-width: 40.063em) {
	#footer .wrapper {
	    padding-left: 3em;
	    padding-right: 3em;
	}
}

/* Handy OU Styles
------------------------------------- */

a.ou-btn {
	background-color: #3fb3f6;
	color: #FFFFFF!important;
	padding: 0.75em 1.5em;
	margin: 1.5em 0;
	font-size: 100%;
	line-height: 1.3;
	display: inline-block;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
}
a.ou-btn:focus, a.ou-btn:active, a.ou-btn:hover {
	background-color: #2192D4;
}
#main a.ou-btn1, .subpage a.ou-btn1 {
	background-color: #298AC4;
	color: #FFFFFF;
	top: auto;
	right: auto;
	bottom: auto;
	left: 0;
	padding: 1em;
	margin-top: 1em;
	font-size: 100%;
	line-height: 0;
	display: inline-table;
	display: inline-block;
}
.subpage a.ou-btn1:visited {
	color: #FFFFFF !important;
}
a.ou-btn1:hover {
	text-decoration: none;
	background-color: #1d648e;
}
.code {
	overflow: auto;
	clear: both;
}
.code ul {
	list-style-position: inside;
	list-style-type: square;
}
.code li, .code ul {
	margin: 0;
	padding: 0;
}
.code ul, .code ol {
	padding: 0;
	margin: 0 0 10px 25px;
}
#header ul.quick-links li {
	float: left;
	padding: 0;
	margin: 0 0.25em;
	display: inline-block;
}
#header ul.quick-links {
	float: right;
	list-style-type: none;
	margin: 0 0 1em;
	overflow: auto;
	padding: 0;
}
#header ul.quick-links a.ou-btn {
	margin: 0;
}
#header ul.quick-links li a {
	display: block;
}
#header a.ou-btn {
	padding: 0.7143em 1.429em;
	margin: 1.25em 0;
	box-shadow: none;
	border-radius: 4px;
}
