/*custom tags*/
next, previous, close, controls, controls * {	display: block; }
#container .courses { background: #fff; }

/* Custom */
div.subpage .enrollment-options .enrollment-option .detailContain h3 {
    padding-top: 20px;
    padding-left: 20px;
}

div.subpage .enrollment-options .enrollment-option .detailContain p {
    padding-left: 20px;
}

@media only screen and (max-width: 64em) {
	#controls controls{
		margin-top: 18px;
		min-height: 40px;
	}

}

.promovideo .flex-video {
    margin: 0;
    padding: 0;
    padding-bottom: 56.25%;
}

.promovideo#kaltura .tap-area::after, .promovideo#kaltura .tap-area:after {
    top: 30%;
}

@media only screen and (min-width: 40em) {
    .promovideo#kaltura .tap-area::after, .promovideo#kaltura .tap-area:after {
        top: 40%;
    }
}

.januxLogo {
    min-width: 170px;
}

div#controls controls {
    min-width: 106px;
}

div.subpage {
	margin: 0 auto;
	padding: 100px 0 0 0;
	background: #ccc; /*see gaps*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%; /*fallback for no cover support*/
	background-size: cover;
	position: relative !important;
	overflow: hidden;

}

div.subpage > * {
	position: relative;
	margin: 0 auto 5px;
	background: #fff;
	color: #494949;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.pointer-events div.subpage > *::after {
	content: '';
	position: absolute;
	pointer-events: none;
	background: none;
	top:0; left:0; right:0; bottom:0;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
	z-index: 2;
}


div.subpage .course-header {
	position: relative;
	top: -70px;
	overflow: hidden;
	background: none;
	margin-bottom: -50px;
}
div.subpage > .course-header::after{display:none;}

div.subpage controls {
	display: block;
	overflow: hidden;
}

div.subpage next,
div.subpage a.next, {
	margin: 0 2px;
}

div.subpage next,
div.subpage previous,
div.subpage close,
div.subpage a.next,
div.subpage a.previous,
div.subpage a.close,
#about close {
	float: right;
	display: inline-block;
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
	background-positoin: center center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 0.3;
	text-indent: -40px;/*hide the text in the tag*/
	overflow: hidden;
}
div.subpage next:hover,
div.subpage previous:hover,
div.subpage close:hover,
div.subpage a.next:hover,
div.subpage a.previous:hover,
div.subpage a.close:hover {
	background-color: rgba(0,0,0,0.2);
	opacity:1;
}

div.subpage close,
div.subpage a.close {
	background-image: url(../images/ico_close.png);
}
div.subpage previous,
div.subpage a.previous {
	background-image: url(../images/ico_arrow_back.png);
}
div.subpage next,
div.subpage a.next {
	background-image: url(../images/ico_arrow_forward.png);
}


div.subpage .course-introduction {
	margin-bottom: 0;
	padding-left: 15px;
	overflow: hidden;
	padding-right: 15px;
	background: transparent;
}

div.subpage .course-introduction::before {
/*	content: url(images/january-2014-banner.png); */
	position: absolute;
	pointer-events: none;
	background: none;
	top:0; left:0;
	z-index: 1;
}

iframe {
	margin: 0 0 -5px 0 !important;
}

div.subpage .course-title {
    background: black;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    font: normal bold 32px/55px 'Open Sans Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}


div.subpage .course-description, #about p {
	padding: 15px 20px 50px;
	font-size: 14px;
	font-weight: 300;
	line-height: 2em;
	background: white;
}
div.subpage .course-faq {
	padding: 15px 20px 30px;
	font-size: 14px;
	line-height: 1.75em;
}
div.subpage .course-faq .label {
	margin-bottom: 10px;
}

div.subpage .details {
	overflow: hidden;
	padding-left: 15px;
	background: transparent;
	padding-right: 15px;
}


div.subpage .course-open-course-note {
	background: #f2f2f2;
	padding: 20px;
	box-sizing: border-box;
}

div.subpage p {
	font-size: 14px;
	line-height: 1.2em;
	margin: 0.5em 0;
}

div.subpage .course-open-course-note p {
	color: #747475;
}

div.subpage .course-details h3,
div.subpage .course-open-course-note h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 35px;
}

div.subpage .enrollment-options {
	overflow: hidden;
	background: transparent;
	margin-top: 5px;
}

div.subpage .enrollment-options .enrollment-option {
	padding: 0px;
	background: white;
	/* margin-bottom: 5px; */
}



div.subpage .enrollment-options .enrollment-option.leading {
	box-shadow: 2px 0 0 0 white;
}

div.subpage .enrollment-option h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

div.subpage .enrollment-option p {
	margin: 0;
    color: #757474;
	font-weight: 600;
	font-size: 1rem;
}

div.subpage .enrollment-option a,
div.subpage .enrollment-option a:link,
div.subpage .enrollment-option a:visited,
div.subpage .enrollment-option a:active {
	display: inline-block;
	background-color: #3fb3f6;
	line-height: 45px;
	color: white;
	padding: 0 2em;
	width: 100%;
	font-size: 1.25rem;
	margin-top: 1em;
	text-align: center;
}

div.subpage .course-details {
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
	background: transparent;
	margin-top: -3px;
}

div.subpage .course-details h3 {
	padding: 20px;
	margin-bottom: 0px;
}

div.subpage .course-open-course-note blockquote {
	color: #f2713e;
	font-style: italic;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.75em;
}

div.subpage .course-open-course-note blockquote::before {
	content:"\00bb";
	font-style: italic;
	font-weight: 500;
	font-size: 19px;
	color: #f2713e;
	margin-right: 0.4em;
}

div.subpage .label {
	color: #b8b8b8;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	background-color: transparent;
	padding-left: 0;
}

div.subpage .course-fields {
	padding: 0 20px;
	background: white;
}

div.subpage .field-row {
	overflow: hidden;
	position: relative;
	border: 0 solid #f1f1f1;
	border-top-width: 1px;
	padding: 0.75em 0 1.5em;
}
div.subpage .field-row:first-child {
	border-top-width: 0;
}
div.subpage .course-field-cell p {
	font-size: 16px;
	font-weight: 300;
}

div.subpage .course-field-cell.credit a,
div.subpage .course-field-cell.credit p,
div.subpage .course-field-cell.credit p span {
	font-weight: 400;
	font-size: 16px;
}

div.subpage .course-field-cell.thirds span { white-space: nowrap; }
div.subpage .course-field-cell.thirds span +span { margin-left: 1em; }

section.course-instructors.row {
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
}

div.subpage .course-instructors {
	color: #b8b8b8;
	font-weight: 300;
	font-size: 16px;
}

div.subpage .course-instructors .instructor {
	position: relative;
	overflow: hidden;
	background-color: white;
}

div.subpage .course-instructors .instructor .name {
	font-weight: 300;
	font-size: 1em;
	line-height: 40px;
	color: #494949;
}

div.subpage .course-instructors .instructor img {
	float: left;
	background-color: #494949;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 25%;
	max-width: 160px;
}

div.subpage .course-instructors .instructor .wrap {
	border-top: 1px solid #f1f1f1;
}
div.subpage .course-instructors .instructor .wrap {
	border-top: 0;
	max-width: 73%;
	float: left;
	padding-left: 10px;
	padding-top: 7px;
}

@media only screen and (min-width: 40.063em) {
	div.subpage .course-instructors .instructor .wrap {
		padding-left: 20px;
		padding-top: 15px;
	}
	div.subpage .course-instructors .instructor img {
		min-width: 160px;
	}
}

div.subpage .course-faq {
	font-weight: 300;
}

div.subpage .course-faq h4{
	font-style: italic;
	font-size: 16px;
	font-weight: 600;
	color: #494949;
}
.no-js div.subpage .course-techsupport {display: none;}
div.subpage .course-techsupport {
	position: relative;
	overflow: hidden;
	background: transparent;
	padding-left: 15px;
	color: #494949;
	padding-right: 15px;
    margin-bottom: 75px;
}

div.subpage .course-techsupport img {
	float: left;
	background-color: #494949;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 160px;
	height: 160px;
}

div.subpage .course-techsupport .wrap {
	padding: 15px 20px;
	background-color: white;
	margin-left: 160px;
	padding-bottom: 25px;
}

div.subpage a,
div.subpage a:link,
div.subpage a:visited,
div.subpage a:active {
	color: #3fb3f6;
	text-decoration: none;
}

div.subpage .course-techsupport ul {
	list-style: none;
	margin-left: 0;
}

div.subpage .course-techsupport li {
	font-size: 14px;
	font-weight: 300;
	margin: 5px 0;
}


/* About */
#about {
	background: #fff;
	margin: 0;
	padding: 0 0 16em 0;
}


#about > * {
	position: relative;
	color: #494949;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0 auto 5px;
}
#about h5 + p { padding-top: 0;}
#about h5 {
	font-size: 14px;
	margin-right: 35px;
	margin-left: 30px;
}

#about time { margin-left: 30px;}
#about p.nobottom {
	padding-bottom: 0;
}
#about ul li {font-size: 14px;}
#about ul {
	margin-right: 35px;
	margin-left: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

#about h3 {
	font-size: 28px;
	padding-top: 30px;
	margin-right: 35px;
	margin-left: 30px;

}

#about p {
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	color: #494949;
	padding-left: 30px;
	margin-right: 35px;
	text-align: justified;
}

#about #about_content {
	background: white;
}

/* Course Details */
.course-details-header {
    background-color: white;
}

section.course-instructors .instructor .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.instructorContain.columns.small-4 {
    padding: 0px;
}

div.subpage .instructor .label {
    padding-left: 0;
    font-size: 0.725em;
    font-weight: 500;
}


@media only screen and (min-width: 40.063em) {
	div.subpage .course-instructors .instructor .name {
    	font-size: 1.9em;
	}

	div.subpage .course-instructors .instructor .wrap div {
	    /* padding-top: 10px; */
	}

	div.subpage .enrollment-options .enrollment-option:first-child {
	    border-right: 1px solid white;
	}
}

/* Tech Support */
.columns.phoneNumber {
    background-color: #46B4F3;
    color: white;
    padding: 1rem;
    padding-bottom: 20px;
    padding-top: 14px;
}

section.course-techsupport-buttons {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 9em;
    background: transparent;
}

.number {
    font-size: 16px;
}

.email {
    color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 0;
}


.externalLink {
    color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 0;
}

i.fi-mail.medium {
    font-size: 23px;
    position: relative;
    left: -2px;
}

i.fi-link.medium {
    font-size: 23px;
}

.email .fi-mail::before {
    text-align: center;
}

.emailWrapper, .externalLinkWrapper {
    padding: 25px 0;
    background-color: #46B4F3;
    color: white;
}

div.subpage .enrollment-options .enrollment-option:first-child {
    margin-bottom: 5px;
}
