.unsupported-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(var(--vh, 1vh) * 100);
	text-align: center;
}

.title {
	display: block;
	padding: 1rem 0;
	font-size: 2rem;
	color: var(--primary-grey);
}

.body {
	display: block;
	font-size: 1.125rem;
	color: var(--primary-grey);
	margin-bottom: 2rem;
}