.page-content {
	display: flex;
	flex-direction: column;
	min-height: calc(var(--vh, 1vh) * 100);
}

:global(.transition-enter-active), :global(.transition-exit-active) {
	& .page-content {
		overflow-x: hidden;
	}

	& .page-body, & .page-footer {
		transition: opacity 400ms, transform 700ms;
		transition-timing-function: ease-in;
	}
}

.page-header {
	flex: 0 0 auto;
	width: 100%;
	text-align: center;
	height: 110px;
	padding-top: 0.625rem;
}

.page-header img {
	display: inline-block;
	max-height: 100px;
	width: auto;
}

@supports (object-fit: contain) {
	.page-header img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

.page-body {
	flex: 1 1 auto;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
}

.page-footer {
	flex: 0 0 auto;
	padding: 0.625rem 0;
}

:global(.transition-enter) {
	& .page-body, & .page-footer {
		opacity: 0;
	}
}

:global(.transition-enter-active) {
	& .page-body, & .page-footer {
		opacity: 1;
	}
}

:global(.transition-exit) {
	& .page-body, & .page-footer {
		opacity: 1;
	}
}

:global(.transition-exit-active) {
	& .page-body, & .page-footer {
		opacity: 0;
	}
}

:global(.transition-left) {
	& :global(.transition-enter) {
		& .page-body, & .page-footer {
			transform: translateX(80%);
		}
	}

	& :global(.transition-enter-active) {
		& .page-body, & .page-footer {
			transform: translateX(0%);
		}
	}

	& :global(.transition-exit) {
		& .page-body, & .page-footer {
			transform: translateX(0%);
		}
	}

	& :global(.transition-exit-active) {
		& .page-body, & .page-footer {
			transform: translateX(-80%);
		}
	}
}

:global(.transition-right) {
	& :global(.transition-enter) {
		& .page-body, & .page-footer {
			transform: translateX(-80%);
		}
	}

	& :global(.transition-enter-active) {
		& .page-body, & .page-footer {
			transform: translateX(0%);
		}
	}

	& :global(.transition-exit) {
		& .page-body, & .page-footer {
			transform: translateX(0%);
		}
	}

	& :global(.transition-exit-active) {
		& .page-body, & .page-footer {
			transform: translateX(80%);
		}
	}
}

@media (max-width: 600px) {
	.page-header {
		height: 80px;
	}

	.page-body {
		padding-top: 1.5rem;
	}
}