.container {
	display: flex;
	flex-direction: row;
	height: calc(var(--vh, 1vh) * 100);
	align-items: stretch;
}

.feature {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	flex: 0 0 auto;
	width: 100vw;
	max-width: 532px;
	background: white;
	position: relative;
	overflow: auto;
}

.main > div[role="group"] {
	height: 100%;
}

.logo {
	position: absolute;
	top: 0; bottom: auto;
	left: 0; right: 0;
	width: 100%;
	text-align: center;
	min-height: 110px;
}

.logo img {
	display: inline-block;
	max-height: 110px;
	width: auto;
}

.description {
	margin-bottom: 1.75rem;
	padding-bottom: 2rem;
}

.description.has-subtitle {
	padding-bottom: 0;
}

.description.no-title {
	padding-bottom: 0;
}